:root {
  --primary-color: #7650dc;
  --primary-color-light: #dacffc;

  --secondary-color: #ffcb6b;
  --secondary-color-light: #f9eee1;

  --white: #ffffff;
  --black: #121212;

  --rounded-edges: 0.6rem;
}

@font-face {
  font-family: main-font;
  src: url("assets/fonts/static/DMSans-Regular.ttf");
}

@font-face {
  font-family: main-font-lg;
  src: url("assets/fonts/static/DMSans-Medium.ttf");
}

@font-face {
  font-family: main-font-i;
  src: url("assets/fonts/static/DMSans-MediumItalic.ttf");
}

* {
  margin: 0;
  text-align: left;
  font-weight: 400;
  line-height: 100%;
  font-size: 1.11rem;
  color: var(--black);
  box-sizing: border-box;
  font-family: main-font;
}

body {
  background-color: #f8f6f4;
}

main {
  gap: 1.5rem;
  margin: auto;
  display: grid;
  padding: 1.5rem 5vw;
  place-items: stretch;
}

.card {
  gap: 0.8rem;
  padding: 5%;
  display: grid;
  border-radius: var(--rounded-edges);
}

.container {
  gap: 1rem;
  width: 100%;
  display: grid;
}

.italic {
  font-family: main-font-i;
}

h2 {
  font-weight: 600;
  font-size: calc(1.125rem + 0.7vw);
}

h3 {
  font-weight: 600;
  font-size: calc(1.25rem + 1vw);
}

h4 {
  font-weight: 600;
  font-size: calc(2rem + 1.5vw);
}

p {
  text-align: center;
}

/* card1 styles */
.card1 {
  gap: 1.5rem;
  padding-block: 0;
  background-color: var(--primary-color);
  grid-template-rows: 0.5rem auto auto 0.5rem;
}

h1 {
  grid-row: 2/3;
  text-align: center;
  color: var(--white);
  font-size: calc(2.5rem + 1vw);
}

h1 .ten-x {
  font-size: inherit;
  color: var(--secondary-color);
}

h1 .italic {
  font-size: inherit;
  color: var(--white);
}

.card1 figure {
  gap: 0.5rem;
  display: grid;
  grid-row: 3/4;
  place-items: center;
}

.card1 img {
  width: 11.5rem;
}

.card1 figcaption {
  color: var(--secondary-color-light);
}

/* card2 styles */

.card2 {
  background-color: var(--white);
}

.card2 > img {
  width: 100%;
}

/* card3 styles */

.card3 {
  overflow: hidden;
  padding-bottom: 0;
  background-color: var(--secondary-color);
}

.card3 .container {
  height: 11.5rem;
}

.card3 img {
  width: 70%;
}

/* card4 styles */

.card4 {
  justify-items: center;
  background-color: var(--primary-color-light);
}

.card4 h2 {
  text-align: center;
}
.card4 img {
  width: 100%;
}

/* card5 styles */

.card5 {
  gap: 2rem;
  place-items: center;
  background-color: var(--primary-color);
}

.card5 img {
  width: 70%;
}

.card5 h3 {
  width: 70%;
  text-align: center;
  font-weight: unset;
  color: var(--secondary-color-light);
}

/* card6 styles */

.card6 {
  background-color: var(--white);
}

.card6 p {
  text-align: left;
}

.card6 > img {
  width: 65%;
}

/* card7 styles */

.card7 {
  background-color: var(--secondary-color-light);
}

.card7 .italic {
  font-size: inherit;
  color: var(--black);
  font-weight: inherit;
}

.card7 .italic {
  color: var(--primary-color);
}

.card7 img {
  width: 70%;
}

/* card8 styles */

.card8 {
  background-color: var(--secondary-color);
}

.card8 img {
  width: 75%;
}

.card8 h3 {
  width: 80%;
}

.attribution {
  gap: 1rem;
  padding: 5%;
  display: grid;
  place-items: center;
  background-color: var(--black);
}

footer.attribution a,
footer.attribution span {
  text-decoration: none;
  color: var(--secondary-color-light);
}

@media (min-width: 90rem) {
  main {
    justify-content: center;
    grid-template:
      "card7 card1 card1 card4" 1fr
      "card7 card1 card1 card4" 1fr
      "card7 card1 card1 card4" 1fr
      "card7 card1 card1 card4" 1fr
      "card7 card2 card3 card4" 1fr
      "card8 card2 card3 card4" 1fr
      "card8 card2 card3 card4" 1fr
      "card8 card6 card5 card5" 1fr
      "card8 card6 card5 card5" 1fr
      "card8 card6 card5 card5" 1fr/
      14rem 14rem 14rem 14rem;
  }

  .card {
    padding-inline: 1.5rem;
  }

  p {
    font-size: 1rem;
    text-align: left;
  }

  h1 {
    margin-block: 1rem;
  }

  h2,
  h3,
  h4 {
    font-weight: 500;
  }

  /* card1 styles */
  .card1 {
    grid-area: card1;
  }

  /* card2 styles */

  .card2 {
    grid-area: card2;
    overflow: hidden;
  }
  .card2 img {
    width: 150%;
  }

  /* card3 styles */

  .card3 {
    grid-area: card3;
  }
  .card3 img {
    width: 100%;
  }

  /* card4 styles */
  .card4 {
    overflow: hidden;
    grid-area: card4;
  }
  .card4 .container {
    width: 12rem;
    align-self: center;
  }
  .card4 img {
    width: 170%;
  }

  /* card5 styles */

  .card5 {
    gap: 0.7rem;
    padding-block: 0.77rem;
    grid-area: card5;
    justify-items: left;
    grid-template-columns: auto 1fr;
  }

  .card5 img {
    width: 11rem;
  }

  .card5 h3 {
    text-align: start;
    width: 100%;
  }

  /* card6 styles */

  .card6 {
    grid-area: card6;
  }

  .card6 img {
    width: 90%;
  }

  /* card7 styles */
  .card7 {
    grid-area: card7;
  }
  .card7 .container {
    width: 11rem;
    align-self: center;
  }
  .card7 img {
    width: 100%;
  }

  /* card8 styles */

  .card8 {
    grid-area: card8;
  }

  .card8 .container {
    width: 11.5rem;
    align-self: stretch;
  }

  .card8 img {
    width: 100%;
  }

  .card8 h3 {
    width: 95%;
  }
}
